In [18]:
# The code was removed by Watson Studio for sharing.

In [8]:
%store -r df
df.head()

  PostalCode           Borough                       Neighborhood
0        M3A        North York                          Parkwoods
1        M4A        North York                   Victoria Village
2        M5A  Downtown Toronto         Regent Park , Harbourfront
3        M6A        North York  Lawrence Manor , Lawrence Heights
4        M7A      Queen's Park                       Queen's Park

In [9]:
import pandas as pd
import requests
pd.set_option('display.max_rows',500)

In [10]:
# The code was removed by Watson Studio for sharing.

In [11]:
df1=df['PostalCode']+[' ']+df['Borough']
result=pd.DataFrame()
for i in df1:
    url = 'https://maps.googleapis.com/maps/api/geocode/json?key={}&address={}'.format(API_key,i)
    response = requests.get(url).json() # get response
    a=pd.DataFrame.from_dict([response['results'][0]['geometry']['location']])
    result=result.append(a)
result=result.reset_index(drop=True)
result.head(10)

         lat        lng
0  43.753259 -79.329656
1  43.725882 -79.315572
2  43.654260 -79.360636
3  43.718518 -79.464763
4  43.662843 -79.389638
5  43.667856 -79.532242
6  43.806686 -79.194353
7  43.745906 -79.352188
8  43.691201 -79.341664
9  43.657162 -79.378937

In [12]:
df=df.join(result)
df.head(10)

,PostalCode,Borough,Neighborhood,lat,lng
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662843,-79.389638
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
7,M3B,North York,Don MillsNorth,43.745906,-79.352188
8,M4B,East York,"Parkview Hill , Woodbine Gardens",43.691201,-79.341664
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937

In [13]:
%store df

Stored 'df' (DataFrame)

In [19]:
project.save_data(data=df.to_csv(index=False),file_name='toronto.csv',overwrite=True)

{'asset_id': '1c4d9fb4-c04c-482d-979d-9becf3b2a168',
 'bucket_name': 'segmentingandclusteringneighborho-donotdelete-pr-kteqzguhfuv7hp',
 'file_name': 'toronto.csv',
 'message': 'File toronto.csv has been written successfully to the associated OS'}