In [2]:
%store -r df
df.head()

  PostalCode           Borough                       Neighborhood
0        M3A        North York                          Parkwoods
1        M4A        North York                   Victoria Village
2        M5A  Downtown Toronto         Regent Park , Harbourfront
3        M6A        North York  Lawrence Manor , Lawrence Heights
4        M7A      Queen's Park                       Queen's Park

In [4]:
import pandas as pd
import requests
pd.set_option('display.max_rows',500)

In [5]:
API_key = 'AIzaSyB0O1H57nTXliBqobU42QZeOFOWc4vJdAE'

df1=df['PostalCode']+[' ']+df['Borough']
result=pd.DataFrame()
for i in df1:
    url = 'https://maps.googleapis.com/maps/api/geocode/json?key={}&address={}'.format(API_key,i)
    response = requests.get(url).json() # get response
    a=pd.DataFrame.from_dict([response['results'][0]['geometry']['location']])
    result=result.append(a)
result=result.reset_index(drop=True)
result

           lat        lng
0    43.753259 -79.329656
1    43.725882 -79.315572
2    43.654260 -79.360636
3    43.718518 -79.464763
4    43.662843 -79.389638
5    43.667856 -79.532242
6    43.806686 -79.194353
7    43.745906 -79.352188
8    43.691201 -79.341664
9    43.657162 -79.378937
10   43.709577 -79.445073
11   43.650943 -79.554724
12   43.784535 -79.160497
13   43.725900 -79.340923
14   43.695344 -79.318389
15   43.651494 -79.375418
16   43.693781 -79.428191
17   43.643515 -79.577201
18   43.763573 -79.188711
19   43.676357 -79.293031
20   43.644771 -79.373306
21   43.689026 -79.453512
22   43.770992 -79.216917
23   43.709060 -79.363452
24   43.657952 -79.387383
25   43.669542 -79.422564
26   43.773136 -79.239476
27   43.803762 -79.363452
28   43.754328 -79.442259
29   43.705369 -79.349372
30   43.650571 -79.384568
31   43.660454 -79.433263
32   43.744734 -79.239476
33   43.778517 -79.346556
34   43.767980 -79.487262
35   43.685347 -79.338106
36   43.640816 -79.381752
37   43.647927 -79.419750
38   43.727929 -79.262029
39   43.786947 -79.385975
40   43.737473 -79.464763
41   43.679557 -79.352188
42   43.647177 -79.381576
43   43.642041 -79.411951
44   43.711112 -79.284577
45   43.757490 -79.374714
46   43.739015 -79.506944
47   43.668999 -79.315572
48   43.648198 -79.379817
49   43.713756 -79.490074
50   43.756303 -79.565963
51   43.716316 -79.239476
52   43.789053 -79.408493
53   43.728496 -79.495697
54   43.659526 -79.340923
55   43.733283 -79.419750
56   43.691116 -79.476013
57   43.724766 -79.532242
58   43.692657 -79.264848
59   43.770120 -79.408493
60   43.761631 -79.520999
61   43.728020 -79.388790
62   43.711695 -79.416936
63   43.673185 -79.487262
64   43.706876 -79.518188
65   43.757410 -79.273304
66   43.752758 -79.400049
67   43.653226 -79.383184
68   43.696948 -79.411307
69   43.665555 -79.470384
70   43.696319 -79.532242
71   43.750071 -79.295849
72   43.782736 -79.442259
73   43.706190 -79.404222
74   43.672710 -79.405678
75   43.653226 -79.383184
76   43.636966 -79.615819
77   43.688905 -79.554724
78   43.794200 -79.262029
79   43.704324 -79.388790
80   43.662696 -79.400049
81   43.653226 -79.383184
82   43.776426 -79.231752
83   43.653226 -79.383184
84   43.653206 -79.400049
85   43.815252 -79.284577
86   43.653226 -79.383184
87   43.645711 -79.392732
88   43.605647 -79.501321
89   43.739416 -79.588437
90   43.799525 -79.318389
91   43.679563 -79.377529
92   43.646435 -79.374846
93   43.602414 -79.543484
94   43.706748 -79.594054
95   43.836125 -79.205636
96   43.667967 -79.367675
97   43.648429 -79.382280
98   43.653654 -79.506944
99   43.665860 -79.383160
100  43.662744 -79.321558
101  43.636258 -79.498509
102  43.628841 -79.520999

In [9]:
df.df.join(result)
result.head()

         lat        lng
0  43.753259 -79.329656
1  43.725882 -79.315572
2  43.654260 -79.360636
3  43.718518 -79.464763
4  43.662843 -79.389638

In [11]:
df.head(10)

,PostalCode,Borough,Neighborhood,lat,lng
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662843,-79.389638
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
7,M3B,North York,Don MillsNorth,43.745906,-79.352188
8,M4B,East York,"Parkview Hill , Woodbine Gardens",43.691201,-79.341664
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937